<header>
    <a href="/">
    <div class="headerDerecha">
        <img  class=".logo" src="/frontend/images/icono-web.svg" alt="Logo de Signia">
        <h2>Signia</h2>
    </div>
    </a>
    <button class="abrirMenu" id="abrir" ><i class="bi bi-list"></i></button>
        <nav class="navHeader" id="nav" >
            <ul class="navList">
                <button class="cerrarMenu" id="cerrar"><i class="bi bi-x"></i></button>
                <!--<%  const leccionesRequeridas = Array.from({ length: 10 }, (_, i) => i + 1); // [1, 2, 3, ..., 10]
                    const todasCompletadas = leccionesRequeridas.every(leccion => leccionesCompletadas.includes(leccion));
  
                    if (todasCompletadas) { %>
                        <li><a href="/curso_completado"><img src="/frontend/images/Trofeo.svg" style="width: 50px; height: 50px;"></a></li>
                    <% } %>-->

                    <li><button id="toggle-dark-mode"><i id="iconNightSun" class="bi bi-moon-fill" style="font-size: 24px;"></i></button></li>
                    <li><a href="/curso_completado"><img  class="headerEnlaces" src="/frontend/images/Trofeo.svg" style="width: 80px; height: 80px;"></a></li>        
                <li><a href="/lista_lecciones" class="headerEnlaces">Lecciones</a></li>

                <% if (user) { %>
                    <li><a href="/reporte" class="headerEnlaces">Reporte</a></li>
                    <li><a href="logout" class="salirCuenta headerEnlaces" >Salir</a></li>
                <% } else { %>
                    <li><a href="/acceder" class="headerEnlaces">Acceder</a></li>
                    <li><a href="/login" class="crearCuenta headerEnlaces">Crear Cuenta</a></li>
                    <%}%>
            </ul>
        </nav>
</header>