<header>
    <a href="/">
    <div class="headerDerecha">
        <img  class=".logo" src="/frontend/images/icono-web.svg" alt="Logo de Signia">
        <h2>Signia</h2>
    </div>
    </a>
    <button class="abrirMenu" id="abrir" ><i class="bi bi-list"></i></button>
        <nav class="navHeader" id="nav" >
            <ul class="navList">
                <button class="cerrarMenu" id="cerrar"><i class="bi bi-x"></i></button>
                <li><button><a href="/lista_lecciones">Lecciones</button></a></li>
                <% if (user) { %>
                    <li><button class="salirCuenta" ><a href="logout">Salir</a></button></li>
                <% } else { %>
                    <li><button><a href="/acceder">Acceder</a></button></li>
                    <li><button class="crearCuenta"><a href="/login">Crear Cuenta</a></button></li>
                <% } %>

                <!--<li><button><a href="/acceder">Acceder</button></a></li>
                <li><button class="crearCuenta"><a href="/login">Crear Cuenta</button></a></li>-->
            </ul>
        </nav>
</header>