<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="icon" type="image/x-icon" href="./images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="./scripts/index.js" defer></script>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="tituloLoginRegistro" >Registrate gratis</h1>
    <form class="contenedorLoginRegistro" action="/login" method="POST">
        <h3>Nombre Completo</h3>
        <input type="text" class="form-control" name="name" id="name">
        <h3>Usuario</h3>
        <input type="text" class="form-control" name="user" id="user">
        <h3>Contraseña</h3>
        <input type="password" class="form-control" name="pass" id="pass">
        <button type="submit" >Registrar</button>
    </form>
</body>

<footer>
    <div class="derechos">
        <p>2024 All rights reserved</p>
    </div>
</footer>
</html>