<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <link rel="stylesheet" href="/frontend/styles/lecciones.css">
    <link rel="stylesheet" href="/frontend/styles/parejas.css">
    <link rel="stylesheet" href="/frontend/styles/ahorcado.css">
    <link rel="stylesheet" href="/frontend/styles/reflejos.css">
    <link rel="stylesheet" href="/frontend/styles/tarjetasMemoria.css">
    <script src="/frontend/scripts/unirParejas.js" defer></script>
    <script src="/frontend/scripts/tarjetasMemoria.js" defer></script>
    <script src="/frontend/scripts/index.js" defer ></script>
    <script src="/frontend/scripts/test.js" defer></script>
    <script src="/frontend/scripts/reflejos.js" defer></script>
    <script src="/frontend/scripts/ahorcado.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Retroalimentación</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
        let leccionesCompletadas = <%= JSON.stringify(leccionesCompletadas) %>;
      </script>
</head>
<body>

    <%- include('../partials/header') %>

    <h1 class="tituloLeccion">Lección de Retroalimentación</h1>
    <div class="contenedorLeccion">
        <h2 class="subTitulo">Introducción</h2>
        <p>En esta lección, vamos a revisar y reforzar los conceptos aprendidos en las últimas cinco lecciones mediante juegos interactivos con contenidos de todas ellas. La retroalimentación se enfocará en identificar tus fortalezas y áreas de mejora, todo esto mediante divertidos juegos interactivos que ya conoces.</p> 
        <br>
        <br>

    <h2 class="subTitulo">Juego Interactivo "Une las parejas"</h2>
    <p>Para el primer juego tendrás que unir cada signo con su pareja correspondiente</p>
        <!--JUEGO UNIR PAREJAS-->
        <div class="contenedorParejas">
            <div class="nivel1" >
                <div class="imagenesParejas">
                    <button class="botonParejas" data-pareja2="Rojo"><img src="/frontend/images/colores/Rojo.png" alt=""></button>
                    <button class="botonParejas" data-pareja2="Mama"><img src="/frontend/images/familia/Mama.png" alt=""></button>
                    <button class="botonParejas" data-pareja2="Cabeza"><img src="/frontend/images/partes_cuerpo/Cabeza.png" alt=""></button>
                </div>
    
                <div class="textoParejas">
                    <div class="opcionesParejas">
                        <div class="divBlanco" data-pareja2="Mama"></div>
                        <div class="divParejas ocho">Mamá</div>
                    </div>
                    <div class="opcionesParejas">
                        <div class="divBlanco" data-pareja2="Cabeza"></div>
                        <div class="divParejas uno">Cabeza</div>
                    </div>
                    <div class="opcionesParejas">
                        <div class="divBlanco" data-pareja2="Rojo"></div>
                        <div class="divParejas dos">Rojo</div>
                    </div>
                    <button class="siguienteNivel2" style="display: none;">Siguiente Nivel</button>
            </div>
        </div>


        <div class="nivel2" style="display: none;">
        <div class="imagenesParejas">
            <button class="botonParejas" data-pareja2="Hermano"><img src="/frontend/images/familia/Hermano.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Doctor"><img src="/frontend/images/profesiones/Doctor.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Sala"><img src="/frontend/images/partes_casa/Sala.png" alt=""></button>
        </div>
            <div class="textoParejas">
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Sala"></div>
                    <div class="divParejas tres">Sala</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Doctor"></div>
                    <div class="divParejas cero">Doctor</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Hermano"></div>
                    <div class="divParejas seis">Hermano/a</div>
                </div>
                <button class="siguienteNivel2" style="display: none;">Siguiente Nivel</button>
            </div>
        </div>


   <div class="nivel3" style="display: none;">
        <div class="imagenesParejas">
            <button class="botonParejas" data-pareja2="Ingeniero"><img src="/frontend/images/profesiones/Ingeniero.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Azul"><img src="/frontend/images/colores/Azul.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Verde"><img src="/frontend/images/colores/Verde.png" alt=""></button>
           <button class="botonParejas" data-pareja2="Pie"><img src="/frontend/images/partes_cuerpo/Pie.png" alt=""></button>
        </div>
            <div class="textoParejas">
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Azul"></div>
                    <div class="divParejas cinco">Azul</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Ingeniero"></div>
                    <div class="divParejas diesyciete">Ingeniero/a</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Pie"></div>
                    <div class="divParejas catorce">Pie</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Verde"></div>
                    <div class="divParejas diesyocho">Verde</div>
                </div>
            </div>
            <div class="mensajeVictoria"></div>
        <button id="reiniciarJuegoParejas" style="display: none;">Reiniciar Juego</button>
        </div>
    </div>

    <!--JUEGO TARJETAS DE MEMORIA-->
        <h2 class="subTitulo">Juego Interactivo "Tarjetas de Memoria"</h2>
        <p>En este juego tendrás que unir cada tarjeta correctamente.</p>
        <div class="contenedor">
            <!-- Fila de señas -->
            <div class="fila-senas nivel-1">
                <div class="tarjeta tarjeta-senas" data-pareja="Abuelo">
                    <div class="cara delante">
                        <img src="/frontend/images/familia/Abuelo.png" alt="Seña Abuelo">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Amarillo">
                    <div class="cara delante">
                        <img src="/frontend/images/colores/Amarillo.png" alt="Seña Amarillo">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Profesor">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Profesor.png" alt="Seña Profesor">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
        
            <!-- Fila de letras -->
            <div class="fila-letras nivel-1">
                <div class="tarjeta" data-pareja="Profesor">
                    <div class="cara delante">
                        <p>Profesor/a</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Abuelo">
                    <div class="cara delante">
                        <p>Abuelo/a</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Amarillo">
                    <div class="cara delante">
                        <p>Amarillo</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>

            <!-- Fila de señas - Nivel 2 -->
            <div class="fila-senas nivel-2" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="Baño">
                    <div class="cara delante">
                        <img src="/frontend/images/partes_casa/Bano.png" alt="Seña Baño">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Blanco">
                    <div class="cara delante">
                        <img src="/frontend/images/colores/Blanco.png" alt="Seña Blanco">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Papa">
                    <div class="cara delante">
                        <img src="/frontend/images/familia/Papa.png" alt="Seña Papá">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Dentista">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Dentista.png" alt="Seña Dentista">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-2" style="display: none;">
                <div class="tarjeta" data-pareja="Blanco">
                    <div class="cara delante">
                        <p>Blanco</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Dentista">
                    <div class="cara delante">
                        <p>Dentista</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Papa">
                    <div class="cara delante">
                        <p>Papá</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Baño">
                    <div class="cara delante">
                        <p>Baño</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
            
            <!-- Fila de señas - Nivel 3 -->
            <div class="fila-senas nivel-3" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="Ojos">
                    <div class="cara delante">
                        <img src="/frontend/images/partes_cuerpo/Ojo.png" alt="Seña Ojos">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Abogado">
                    <div class="cara delante">
                        <img src="/frontend/images/profesiones/Abogado.png" alt="Seña Abogado">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Negro">
                    <div class="cara delante">
                        <img src="/frontend/images/colores/Negro.png" alt="Seña Negro">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Patio">
                    <div class="cara delante">
                        <img src="/frontend/images/partes_casa/Patio-colegio.png" alt="Seña Patio">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Oreja">
                    <div class="cara delante">
                        <img src="/frontend/images/partes_cuerpo/Oreja.png" alt="Seña Oreja">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-3" style="display: none;">
                <div class="tarjeta" data-pareja="Oreja">
                    <div class="cara delante">
                        <p>Oreja</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Negro">
                    <div class="cara delante">
                        <p>Negro</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Abogado">
                    <div class="cara delante">
                        <p>Abogado</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Ojos">
                    <div class="cara delante">
                        <p>Ojos</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Patio">
                    <div class="cara delante">
                        <p>Patio</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
    <p id="resultado"></p>
    <button id="nivelSiguiente">Siguiente nivel</button>
    <button id="reiniciarJuego" style="display: none;">Reiniciar Juego</button>
        </div>

 <!-- JUEGO AHORCADO -->
 <h2 class="subTitulo">Juego Interactivo "Ahorcado"</h2>
 <p>Para el sigueinte juego tendrás que adivinar las letras que forman una palabra relacionada con las lecciones aprendidas hasta ahora. Cada vez que falles al elegir una letra incorrecta, se dibujará una parte del ahorcado.</p>
 <div id="contenedor-juego-ahorcado">
    <img id="imagen-ahorcado" alt="Ahorcado" src="/frontend/images/dias_semana/ahorcado1.png"/>
    <img id="imagen-seña-ahorcado" alt="Imagen de seña" src="" />
    <p id="palabra-mostrada-ahorcado">_ _ _ _ _</p>
    <div id="teclado-ahorcado">
            <button data-letra="A"></button>
            <button data-letra="B"></button>
            <button data-letra="C"></button>
            <button data-letra="D"></button>
            <button data-letra="E"></button>
            <button data-letra="F"></button>
            <button data-letra="G"></button>
            <button data-letra="H"></button>
            <button data-letra="I"></button>
            <button data-letra="J"></button>
            <button data-letra="K"></button>
            <button data-letra="L"></button>
            <button data-letra="M"></button>
            <button data-letra="N"></button>
            <button data-letra="Ñ"></button>
            <button data-letra="O"></button>
            <button data-letra="P"></button>
            <button data-letra="Q"></button>
            <button data-letra="R"></button>
            <button data-letra="S"></button>
            <button data-letra="T"></button>
            <button data-letra="U"></button>
            <button data-letra="V"></button>
            <button data-letra="X"></button>
            <button data-letra="Y"></button>
            <button data-letra="Z"></button>
    </div>
    <p>Intentos restantes: <span id="intentos-restantes-ahorcado">6</span></p>
      <!-- Mensaje dinámico de fin de nivel o de juego -->
  <div id="mensaje-ahorcado" style="display: none;">
    <p id="texto-mensaje-ahorcado"></p>
    <button id="boton-siguiente-nivel" style="display: none;">Siguiente Nivel</button>
    <button id="boton-reintentar" style="display: none;">Reintentar</button>
</div>
<p id="mensaje-victoria" style="display: none;">¡Felicidades, has completado todos los niveles!</p>
<button id="reiniciarJuegoAhorcado" style="display: none;">Reiniciar Juego</button>

  </div>

  <!-- Definición de datos de la lección en data-attributes -->
  <div id="datos-leccion-ahorcado" style="display: none;">
    <div data-palabra="TIO" data-imagen-seña="/frontend/images/familia/Tio.png"></div>
    <div data-palabra="GRIS" data-imagen-seña="/frontend/images/colores/Gris.png"></div>
    <div data-palabra="NARIZ" data-imagen-seña="/frontend/images/partes_cuerpo/Nariz.png"></div>
    <div data-palabra="BOCA" data-imagen-seña="/frontend/images/partes_cuerpo/Boca.png"></div>
    <div data-palabra="COCINA" data-imagen-seña="/frontend/images/partes_casa/Cocina.png"></div>
    <div data-palabra="DOCTOR" data-imagen-seña="/frontend/images/profesiones/Doctor.png"></div>
    <div data-palabra="AZUL" data-imagen-seña="/frontend/images/colores/Azul.png"></div>
  </div>

    <%- include('../partials/tesT') %>

    <script>
        const leccionData = <%- JSON.stringify(leccionData) %>;
    </script>
</body>
</html>