<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/frontend/images/icono-web.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/frontend/styles/styles.css">
    <link rel="stylesheet" href="/frontend/styles/lecciones.css">
    <link rel="stylesheet" href="/frontend/styles/parejas.css">
    <link rel="stylesheet" href="/frontend/styles/reflejos.css">
    <link rel="stylesheet" href="/frontend/styles/cajas.css">
    <link rel="stylesheet" href="/frontend/styles/ahorcado.css">
    <link rel="stylesheet" href="/frontend/styles/reflejos.css">
    <link rel="stylesheet" href="/frontend/styles/tarjetasMemoria.css">
    <script src="/frontend/scripts/unirParejas.js" defer></script>
    <script src="/frontend/scripts/tarjetasMemoria.js" defer></script>
    <script src="/frontend/scripts/index.js" defer ></script>
    <script src="/frontend/scripts/test.js" defer></script>
    <script src="/frontend/scripts/reflejos.js" defer></script>
    <script src="/frontend/scripts/cajas.js" defer></script>
    <script src="/frontend/scripts/ahorcado.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Examen Final</title>
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
      </script>
</head>
<body>

    <%- include('../partials/header') %>

    <h1 class="tituloLeccion">Examen Final</h1>
    <div class="contenedorLeccion">
        <h2 class="subTitulo">Introducción</h2>
       <p>¡Llegó el momento de poner a prueba todo lo que has aprendido! En esta lección, realizarás el examen final, donde evaluarás tus conocimientos sobre todas las lecciones anteriores.
        <br>
        El examen incluirá preguntas y minijuegos interactivos diseñados para medir tu progreso de manera divertida y efectiva.
        <br>
        ¡Prepárate para demostrar cuánto has avanzado en lengua de señas y celebra todo lo que has logrado!</p>
        <br>
        <br>

    <h2 class="subTitulo">Juego Interactivo "Une las parejas"</h2>
    <p>Para el primer juego del examen tendrás que unir cada signo con su pareja correspondiente</p>
        <!--JUEGO UNIR PAREJAS-->
        <div class="contenedorParejas">
            <div class="nivel1" >
                <div class="imagenesParejas">
                    <button class="botonParejas" data-pareja2="Rojo"><img src="/frontend/images/colores/Rojo.png" alt=""></button>
                    <button class="botonParejas" data-pareja2="Verde"><img src="/frontend/images/colores/Verde.png" alt=""></button>
                    <button class="botonParejas" data-pareja2="Ingeniero"><img src="/frontend/images/profesiones/Ingeniero.png" alt=""></button>
                </div>
    
                <div class="textoParejas">
                    <div class="opcionesParejas">
                        <div class="divBlanco" data-pareja2="Verde"></div>
                        <div class="divParejas ocho">Verde</div>
                    </div>
                    <div class="opcionesParejas">
                        <div class="divBlanco" data-pareja2="Ingeniero"></div>
                        <div class="divParejas uno">Ingeniero/a</div>
                    </div>
                    <div class="opcionesParejas">
                        <div class="divBlanco" data-pareja2="Rojo"></div>
                        <div class="divParejas dos">Rojo</div>
                    </div>
                    <button class="siguienteNivel2" style="display: none;">Siguiente Nivel</button>
            </div>
        </div>


        <div class="nivel2" style="display: none;">
        <div class="imagenesParejas">
            <button class="botonParejas" data-pareja2="10"><img src="/frontend/images/numeros/numeros-media/Diez.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Mamá"><img src="/frontend/images/familia/Mama.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Abril"><img src="/frontend/images/meses_ano/Abril.png" alt=""></button>
        </div>
            <div class="textoParejas">
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="10"></div>
                    <div class="divParejas tres">10</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Mamá"></div>
                    <div class="divParejas cero">Mamá</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Abril"></div>
                    <div class="divParejas seis">Abril</div>
                </div>
                <button class="siguienteNivel2" style="display: none;">Siguiente Nivel</button>
            </div>
        </div>


   <div class="nivel3" style="display: none;">
        <div class="imagenesParejas">
            <button class="botonParejas" data-pareja2="Buenas Noches"><img src="/frontend/images/saludos/saludos-media/Buenas-noches.png" alt=""></button>
            <button class="botonParejas" data-pareja2="Doctor"><img src="/frontend/images/profesiones/Doctor.png" alt=""></button>
            <button class="botonParejas" data-pareja2="15"><img src="/frontend/images/numeros/numeros-media/Quince.png" alt=""></button>
           <button class="botonParejas" data-pareja2="D"><img src="/frontend/images/abecedario/imagenes-media/D-transformed.png" alt=""></button>
        </div>
            <div class="textoParejas">
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="15"></div>
                    <div class="divParejas cinco">15</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="D"></div>
                    <div class="divParejas diesyciete">D</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Buenas Noches"></div>
                    <div class="divParejas catorce">Buenos Noches</div>
                </div>
                <div class="opcionesParejas">
                    <div class="divBlanco" data-pareja2="Doctor"></div>
                    <div class="divParejas diesyocho">Doctor/a</div>
                </div>
            </div>
        </div>
    </div>

    <!--JUEGO TARJETAS DE MEMORIA-->
        <h2 class="subTitulo">Juego Interactivo "Tarjetas de Memoria"</h2>
        <p>En este juego tendrás que unir cada tarjeta correctamente.</p>
        <div class="contenedor">
            <!-- Fila de señas -->
            <div class="fila-senas nivel-1">
                <div class="tarjeta tarjeta-senas" data-pareja="Por Favor">
                    <div class="cara delante">
                        <img src="/frontend/images/saludos/saludos-media/Por-favor.png" alt="Seña Por Favor">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="S">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/S-transformed.png" alt="Seña S">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Marzo">
                    <div class="cara delante">
                        <img src="/frontend/images/meses_ano/Marzo.png" alt="Seña Marzo">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
        
            <!-- Fila de letras -->
            <div class="fila-letras nivel-1">
                <div class="tarjeta" data-pareja="Marzo">
                    <div class="cara delante">
                        <p>Marzo</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="S">
                    <div class="cara delante">
                        <p>S</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Por Favor">
                    <div class="cara delante">
                        <p>Por Favor</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>

            <!-- Fila de señas - Nivel 2 -->
            <div class="fila-senas nivel-2" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="Lunes">
                    <div class="cara delante">
                        <img src="/frontend/images/dias_semana/Lunes.png" alt="Seña Lunes">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Junio">
                    <div class="cara delante">
                        <img src="/frontend/images/meses_ano/Junio.png" alt="Seña Junio">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="12">
                    <div class="cara delante">
                        <img src="/frontend/images/numeros/numeros-media/Doce.png" alt="Seña 12">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Octubre">
                    <div class="cara delante">
                        <img src="/frontend/images/meses_ano/Octubre.png" alt="Seña Octubre">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-2" style="display: none;">
                <div class="tarjeta" data-pareja="12">
                    <div class="cara delante">
                        <p>12</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Octubre">
                    <div class="cara delante">
                        <p>Octubre</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Lunes">
                    <div class="cara delante">
                        <p>Lunes</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Junio">
                    <div class="cara delante">
                        <p>Junio</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
            
            <!-- Fila de señas - Nivel 3 -->
            <div class="fila-senas nivel-3" style="display: none;">
                <div class="tarjeta tarjeta-senas" data-pareja="Negro">
                    <div class="cara delante">
                        <img src="/frontend/images/colores/Negro.png" alt="Seña Negro">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Papa">
                    <div class="cara delante">
                        <img src="/frontend/images/familia/Papa.png" alt="Seña Papá">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Baño">
                    <div class="cara delante">
                        <img src="/frontend/images/partes_casa/Bano.png" alt="Seña Baño">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                    
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="Diciembre">
                    <div class="cara delante">
                        <img src="/frontend/images/meses_ano/Diciembre.png" alt="Seña Diciembre">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
                <div class="tarjeta tarjeta-senas" data-pareja="F">
                    <div class="cara delante">
                        <img src="/frontend/images/abecedario/imagenes-media/F-transformed.png" alt="Seña F">
                    </div>
                    <div class="cara atras">
                        <img src="/frontend/images/icono-web.svg" alt="Tarjeta vista desde atras">
                    </div>
                </div>
            </div>
            
            <!-- Fila de letras -->
            <div class="fila-letras nivel-3" style="display: none;">
                <div class="tarjeta" data-pareja="Diciembre">
                    <div class="cara delante">
                        <p>Diciembre</p>
                    </div>
                    <div class="cara atras">
                    </div>
                </div>
                <div class="tarjeta" data-pareja="Baño">
                    <div class="cara delante">
                        <p>Baño</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Negro">
                    <div class="cara delante">
                        <p>Negro</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="Papa">
                    <div class="cara delante">
                        <p>Papá</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
                <div class="tarjeta" data-pareja="F">
                    <div class="cara delante">
                        <p>F</p>
                    </div>
                    <div class="cara atras"></div>
                </div>
            </div>
    <p id="resultado"></p>
    <button id="nivelSiguiente">Siguiente nivel</button>
        </div>

<!--JUEGO REFLEJOS-->
<h2>Juego interactivo "Reflejos"</h2>
<p>Para este juego debes de tener reflejos rápidos. Aparecerán los nombres acerca de conceptos de todas las lecciones de manera aleatoria, y tendrás que indicar que signo representa cada uno</p>
<div id="juego-reflejos">
    <div id="palabra-a-identificar-reflejos">Palabra</div>
    <!-- Nivel 1 -->
    <div id="contenedor-senas-reflejos-nivel-1" class="contenedor-senas">
      <button class="sena-reflejos" data-palabra="Cabeza"><img src="/frontend/images/partes_cuerpo/Cabeza.png" alt="Seña de Cabeza"></button>
      <button class="sena-reflejos" data-palabra="Ojo"><img src="/frontend/images/partes_cuerpo/Ojo.png" alt="Seña de Ojos"></button>
      <button class="sena-reflejos" data-palabra="Rosa"><img src="/frontend/images/colores/Rosa.png" alt="Seña de Rosa"></button>
    </div>
    
    <!-- Nivel 2-->
    <div id="contenedor-senas-reflejos-nivel-2" class="contenedor-senas" style="display: none;">
      <button class="sena-reflejos" data-palabra="Oreja"><img src="/frontend/images/partes_cuerpo/Oreja.png" alt="Seña de Oreja"></button>
      <button class="sena-reflejos" data-palabra="Febrero"><img src="/frontend/images/meses_ano/Febrero.png" alt="Seña de Febrero"></button>
      <button class="sena-reflejos" data-palabra="Brazo"><img src="/frontend/images/partes_cuerpo/Brazo.png" alt="Seña de Brazo"></button>
      <button class="sena-reflejos" data-palabra="Gracias"><img src="/frontend/images/saludos/saludos-media/Gracias.png" alt="Seña de Gracias"></button>
    </div>

    <div id="contenedor-senas-reflejos-nivel-3" class="contenedor-senas" style="display: none;">
        <!-- Nivel 3-->
        <button class="sena-reflejos" data-palabra="Profesor"><img src="/frontend/images/profesiones/Profesor.png" alt="Seña de Profesor"></button>
        <button class="sena-reflejos" data-palabra="Martes"><img src="/frontend/images/dias_semana/Martes.png" alt="Seña de Martes"></button>
        <button class="sena-reflejos" data-palabra="Sala"><img src="/frontend/images/partes_casa/Sala.png" alt="Seña de Sala"></button>
        <button class="sena-reflejos" data-palabra="R"><img src="/frontend/images/abecedario/imagenes-media/R-transformed.png" alt="Seña de R"></button>
        <button class="sena-reflejos" data-palabra="5"><img src="/frontend/images/numeros/numeros-media/Cinco.png" alt="Seña de Cinco"></button>
      </div>
  
    <p id="resultado-reflejos"></p>
    <button id="boton-siguiente-nivel-reflejos" style="display: none;">Siguiente Nivel</button>
  </div>


<!--JUEGO DE CAJAS-->
<h2 class="subTitulo">Juego Interactivo "Abre las cajas"</h2>
<p>Para el siguiente juego deberás de abrir cada caja y seleccionar a que concepto sobre las lecciones anteriores corresponde el signo contenido.</p>

<div id="contenedor-juego-cajas">
    <!-- Caja cerrada inicialmente -->
    <img id="caja-cerrada-cajas" src="/frontend/images/meses_ano/caja1.png" alt="Caja cerrada">
    <img id="caja-abierta-cajas" src="/frontend/images/meses_ano/caja2.png" alt="Caja abierta" style="display: none;">
    
    <!-- Contenedores de los meses en lenguaje de señas -->
    <div id="meses-cajas">
        <!-- Contenedor para Enero -->
        <div class="mes-caja" data-mes="Cocina">
            <img src="/frontend/images/partes_casa/Cocina.png" alt="Cocina en lenguaje de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Baño</button>
                <button class="opcion-cajas">Cocina</button>
                <button class="opcion-cajas">Sala</button>
            </div>
        </div>
        
        <div class="mes-caja" data-mes="Septiembre">
            <img src="/frontend/images/meses_ano/Septiembre.png" alt="Mes de Septiembre en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Octubre</button>
                <button class="opcion-cajas">Abril</button>
                <button class="opcion-cajas">Septiembre</button>
            </div>
        </div>
        
        <div class="mes-caja" data-mes="Blanco">
            <img src="/frontend/images/colores/Blanco.png" alt="Blanco en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Blanco</button>
                <button class="opcion-cajas">Verde</button>
                <button class="opcion-cajas">Amarillo</button>
            </div>
        </div>

        <div class="mes-caja" data-mes="Hola">
            <img src="/frontend/images/saludos/saludos-media/Hola.png" alt="Hola en lengua de señas">
            <div class="opciones-cajas">
                <button class="opcion-cajas">Hola</button>
                <button class="opcion-cajas">Por Favor</button>
                <button class="opcion-cajas">Buenas Noches</button>
            </div>
        </div>

    <div class="mes-caja" data-mes="X">
        <img src="/frontend/images/abecedario/imagenes-media/X-transformed.png" alt="X en lengua de señas">
        <div class="opciones-cajas">
            <button class="opcion-cajas">Y</button>
            <button class="opcion-cajas">X</button>
            <button class="opcion-cajas">O</button>
        </div>
    </div>
    <div class="mes-caja" data-mes="Mamá">
        <img src="/frontend/images/familia/Mama.png" alt="Mamá en lengua de señas">
        <div class="opciones-cajas">
            <button class="opcion-cajas">Primo/a</button>
            <button class="opcion-cajas">Papá</button>
            <button class="opcion-cajas">Mamá</button>
        </div>
    </div>
    
    <div class="mes-caja" data-mes="Diciembre">
        <img src="/frontend/images/meses_ano/Diciembre.png" alt="Mes de Diciembre en lengua de señas">
        <div class="opciones-cajas">
            <button class="opcion-cajas">Abril</button>
            <button class="opcion-cajas">Enero</button>
            <button class="opcion-cajas">Diciembre</button>
        </div>
    </div>

    <div class="mes-caja" data-mes="Buenas Tardes">
        <img src="/frontend/images/saludos/saludos-media/Buenas-tardes.png" alt="Buenas Tardes en lengua de señas">
        <div class="opciones-cajas">
            <button class="opcion-cajas">Buenas Tardes</button>
            <button class="opcion-cajas">Adiós</button>
            <button class="opcion-cajas">Buenos Días</button>
        </div>
    </div>
</div>

    <!-- Mensaje de acierto o error -->
    <p id="mensaje-cajas"></p>
</div>


 <!-- JUEGO AHORCADO -->
 <h2 class="subTitulo">Juego Interactivo "Ahorcado"</h2>
 <p>Para el sigueinte juego tendrás que adivinar las letras que forman una palabra relacionada con cualquier concepto dado en las lecciones anteriores. Cada vez que falles al elegir, se dibujará una parte del ahorcado.</p>
 <div id="contenedor-juego-ahorcado">
    <img id="imagen-ahorcado" alt="Ahorcado" src="/frontend/images/dias_semana/ahorcado1.png"/>
    <img id="imagen-seña-ahorcado" alt="Imagen de seña" src="" />
    <p id="palabra-mostrada-ahorcado">_ _ _ _ _</p>
    <div id="teclado-ahorcado">
            <button data-letra="A"></button>
            <button data-letra="B"></button>
            <button data-letra="C"></button>
            <button data-letra="D"></button>
            <button data-letra="E"></button>
            <button data-letra="F"></button>
            <button data-letra="G"></button>
            <button data-letra="H"></button>
            <button data-letra="I"></button>
            <button data-letra="J"></button>
            <button data-letra="K"></button>
            <button data-letra="L"></button>
            <button data-letra="M"></button>
            <button data-letra="N"></button>
            <button data-letra="Ñ"></button>
            <button data-letra="O"></button>
            <button data-letra="P"></button>
            <button data-letra="Q"></button>
            <button data-letra="R"></button>
            <button data-letra="S"></button>
            <button data-letra="T"></button>
            <button data-letra="U"></button>
            <button data-letra="V"></button>
            <button data-letra="X"></button>
            <button data-letra="Y"></button>
            <button data-letra="Z"></button>
    </div>
    <p>Intentos restantes: <span id="intentos-restantes-ahorcado">6</span></p>
      <!-- Mensaje dinámico de fin de nivel o de juego -->
  <div id="mensaje-ahorcado" style="display: none;">
    <p id="texto-mensaje-ahorcado"></p>
    <button id="boton-siguiente-nivel" style="display: none;">Siguiente Nivel</button>
    <button id="boton-reintentar" style="display: none;">Reintentar</button>
</div>
<p id="mensaje-victoria" style="display: none;">¡Felicidades, has completado todos los niveles!</p>

  </div>

  <!-- Definición de datos de la lección en data-attributes -->
  <div id="datos-leccion-ahorcado" style="display: none;">
    <div data-palabra="DOMINGO" data-imagen-seña="/frontend/images/dias_semana/Domingo.png"></div>
    <div data-palabra="MAYO" data-imagen-seña="/frontend/images/meses_ano/Mayo.png"></div>
    <div data-palabra="HERMANO" data-imagen-seña="/frontend/images/familia/Hermano.png"></div>
    <div data-palabra="G" data-imagen-seña="/frontend/images/abecedario/imagenes-media/G-transformed.png"></div>
    <div data-palabra="VERDE" data-imagen-seña="/frontend/images/colores/Verde.png"></div>
    <div data-palabra="VIERNES" data-imagen-seña="/frontend/images/dias_semana/Viernes.png"></div>
    <div data-palabra="JUEVES" data-imagen-seña="/frontend/images/dias_semana/Jueves.png"></div>
  </div>

    <%- include('../partials/tesT') %>

    <script>
        const leccionData = <%- JSON.stringify(leccionData) %>;
    </script>
</body>
</html>