/* Contenedor principal del juego */
#contenedor-juego-ahorcado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 500px;
  margin: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  border: 2px solid #f1f1f1;
}

/* Palabra a adivinar */
#palabra-a-adivinar {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Imagen del ahorcado */
#imagen-ahorcado {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

/* Opciones de señas */
#opciones-señas-ahorcado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Estilo para las imágenes de señas */
#opciones-señas-ahorcado img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.2s ease;
}
#opciones-señas-ahorcado .seña-viernes{
  width: 210px;
  height: 125px;
}

#opciones-señas-ahorcado.imagenViernes img{
  width: 80%;
}
#opciones-señas-ahorcado img:hover {
  transform: scale(1.1);
  border-color: #5c6bc0; /* Color al pasar el ratón por encima */
}

/* Intentos restantes */
#intentos-restantes-ahorcado {
  font-weight: bold;
  color: #d32f2f;
}

/* Mensaje de fin de nivel */
#mensaje-ahorcado {
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 80%;
}

#mensaje-ahorcado p {
  font-size: 1.2rem;
  color: #333;
}

/* Botones para siguiente nivel y reintentar */
#boton-siguiente-nivel,
#boton-reintentar {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#boton-siguiente-nivel {
  background-color: rgb(83, 119, 143);
}

#mensaje-ahorcado{
  margin: 1rem;
}
#boton-siguiente-nivel:hover {
  background-color: rgb(69, 100, 121);
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}

#boton-reintentar {
  background-color: #f44336;
}

#boton-reintentar:hover {
  transform: scale(1.05);
  transition:0.2s;
  color: white;
}

#boton-reintentar:hover {
  background-color: #d32f2f;
}

/* Mensaje final de victoria */
#mensaje-victoria {
  font-size: 1.5rem;
  font-weight: bold;
  color: #388e3c;
  margin-top: 20px;
}

.dark-mode #palabra-a-adivinar{
  color: white;
}
.dark-mode #imagen-ahorcado{
  background-color: rgb(240, 245, 255);
  border-radius: 5px;
}
.dark-mode #mensaje-ahorcado{
  background-color: #121212;
}
.dark-mode #texto-mensaje-ahorcado{
  color: white;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 480px) {
  #palabra-a-adivinar {
      font-size: 1.6rem;
  }
  
  #opciones-señas-ahorcado img {
      width: 120px;
      height: 120px;
  }
  
  #mensaje-ahorcado p {
      font-size: 1rem;
  }
  #opciones-señas-ahorcado .seña-viernes{
   max-width: 100%;
   height: auto;
  }
}
