/* UNE LAS PAREJAS */
.contenedorParejas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 20px;
  gap: 1.5rem;
  width: 90%; 
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

.contenedorParejas h2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.imagenesParejas {
  margin-top: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.textoParejas {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 2px;
  position: relative;
}

.opcionesParejas {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.divBlanco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  margin-right: 20px;
  background-color: rgb(198, 198, 241);
  flex-shrink: 0;
  border: 2px dashed #ccc;
  transition: border 0.5s ease;
}

.divBlanco.correcto {
  border: 4px solid green;
}

.divBlanco.incorrecto {
  border: 4px solid red;
}

.divParejas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: rgb(245, 247, 245);
  border: 2px solid rgb(34, 22, 85);
  border-radius: 2px;
  font-size: 1.5rem;
  text-align: center; /* Centra el texto */
  overflow-wrap: break-word; /* Rompe las palabras largas */
  word-break: break-word; /* Asegura que se rompan en palabras largas */
}


.botonParejas {
  width: 140px;
  height: auto;
  background-color: rgb(244, 250, 250);
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.botonParejas img {
  width: 100%;
  height: 80%;
}

.botonParejas.selected {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
}

.botonParejas.returning, .botonParejas.moving {
  transition: transform 1s ease-in-out;
}

.botonParejas.dragging {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: grabbing;
}

#siguienteNivelParejas{
  background-color: rgb(69, 100, 121);
  padding: 10px;
  border-radius: 5px;
}

#siguienteNivelParejas:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}

.dark-mode .botonParejas {
  background-color: #5f5f5f;
}

.dark-mode .siguienteNivel2:hover {
  color: white;
}

/* Responsivo para pantallas móviles */
@media screen and (max-width: 650px) {
  .contenedorParejas {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }

  .imagenesParejas, .opcionesParejas {
    gap: 0.5rem;
    justify-content: space-between;
  }

  .divBlanco, .divParejas, .botonParejas {
    width: 90px;
    height: 100px;
  }

  .divParejas {
    font-size: 1rem;
  }

  #siguienteNivelParejas{
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}
