#juego-reflejos {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 20px;
   gap: 1rem;
    width: 600px;
    height: auto;
    margin: 20px 20px 20px 0;
    border: 3px solid #f1f1f1;
    border-radius: 5px;
  }
  
  #palabra-a-identificar-reflejos {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }

.mensaje-victoria {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

  
  
  [id^="contenedor-senas-reflejos"]{
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  
  #contenedor-senas-reflejos button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  #resultado-reflejos {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
  }

  
  #boton-siguiente-nivel-reflejos{
    background-color: rgb(69, 100, 121);
    margin: 0 auto;
  }
  #boton-siguiente-nivel-reflejos:hover{
    color: white;
    transform: scale(1.05);
    transition: 0.2s;
  }

  .sena-reflejos{
    background-color: rgb(238, 234, 231);
    width: 150px;
    height: 150px;
  }

  .sena-reflejos:hover{
    transform: scale(1.05);
    transition: 0.1s;
  }

  @media screen and (max-width:650px) {
    #juego-reflejos{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.5rem;
      text-align: center;
    }
    #boton-siguiente-nivel-reflejos{
      width: 80%;
    }
  }
  